<!-- two column component -->
<!-- self-managed goals on the left, managed goals on the right -->
 <!-- button to change goal input and return to normal-->
  <button (click)="changeGoalInput()">Change Goal Input</button>
  <button (click)="returnGoalInputToNormal()">Return to Normal</button>

  <div class="goal-container">
    <div class="self-managed-goals">
      <h3>Self-Managed Goals</h3>
      <div class="goal-cards">
        <ng-container *ngFor="let goal of goalList">
          <div class="goal-card" *ngIf="isSelfManaged(goal)">
            <div class="goal-card-content">
              <h4>{{ goal.name }}</h4>
              <p class="goal-date">{{ goal.date }}</p>
              <p class="goal-amount">${{ goal.amount }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="managed-goals">
      <h3>Managed Goals</h3>
      <div class="goal-cards">
        <ng-container *ngFor="let goal of goalList">
          <div class="goal-card" *ngIf="isManaged(goal)">
            <div class="goal-card-content">
              <h4>{{ goal.name }}</h4>
              <p class="goal-date">{{ goal.date }}</p>
              <p class="goal-amount">${{ goal.amount }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
