<div class="goal-container">
  <div class="self-managed-goals">
    <h3>Self-Managed Goals</h3>
    <div class="goal-cards" [@columnAnimation]="selfManagedGoals.length">
      <div class="goal-card" *ngFor="let goal of selfManagedGoals">
        <div class="goal-card-content">
          <h4>{{ goal.name }}</h4>
          <p class="goal-date">{{ goal.date }}</p>
          <p class="goal-amount">${{ goal.amount }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="managed-goals">
    <h3>Managed Goals</h3>
    <div class="goal-cards" [@columnAnimation]="managedGoals.length">
      <div class="goal-card" *ngFor="let goal of managedGoals">
        <div class="goal-card-content">
          <h4>{{ goal.name }}</h4>
          <p class="goal-date">{{ goal.date }}</p>
          <p class="goal-amount">${{ goal.amount }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
